root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
indent_style = space
indent_size = 2
max_line_length = 100
ij_continuation_indent_size = 4

ij_kotlin_align_in_columns_case_branch = false
ij_kotlin_align_multiline_binary_operation = false
ij_kotlin_align_multiline_extends_list = false
ij_kotlin_align_multiline_method_parentheses = false
ij_kotlin_align_multiline_parameters = true
ij_kotlin_align_multiline_parameters_in_calls = false

ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = false

ktlint_standard_no-wildcard-imports = disabled
ij_kotlin_name_count_to_use_star_import = 1
ij_kotlin_name_count_to_use_star_import_for_members = 3

ktlint_standard_filename = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_property-naming = disabled
